<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="commonPart/header :: common-header"></head>
<body>
	<div th:replace="commonPart/header :: navbar"></div>
	<div class="container">

		<div class="row">
			<div class="col-xs-8"></div>
			<div class="col-xs-8"></div>
		</div>

	</div>
	<!--footer part -->

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<div th:replace="commonPart/header :: footer-scripts"></div>


</body>
</html>
